beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==41.0.1
fernet==1.0.1
idna==3.4
pyaes==1.6.1
pycparser==2.21
requests==2.31.0
soupsieve==2.4.1
urllib3==2.0.2
